[Unit]
Description=Research API service
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /etc/api-endpoint/uwsgi.ini
User=www-data
Group=www-data
Restart=always
StandardError=syslog
NotifyAccess=all
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target