[Unit]
Description=Research API service
After=syslog.target

[Service]
ExecStart=/var/lib/api-endpoint/p3env/bin/gunicorn --config /etc/api-endpoint/gunicorn.conf.py
User=www-data
Group=www-data
Restart=always
StandardError=syslog
NotifyAccess=all
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target