# remove IP and user-agent.
log_format private '[$time_local] "$request" $status $body_bytes_sent "$http_referer"';

server {
    listen 80;  # default port 80; must match backend port selected when creating web proxy on Horizon
    server_name turnilo-public.wmcloud.org;  # to create, see: https://wikitech.wikimedia.org/wiki/Help:Using_a_web_proxy_to_reach_Cloud_VPS_servers_from_the_internet
    # remove this line or change 'private' to 'combined' to restore user-agent + IP information
    access_log /var/log/nginx/access.log private;

    location / {
        proxy_pass http://localhost:9090;
    }
}